<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>


  <h1><%= title %></h1>
  <p>Rendering form about view </p>
  <p><%= name %></p>
  <a href="/">Home</a>


</body>
</html>
